  body {
    font-family :var();
    background-color: #f8f9fa;
  }
  
  .container {
    max-width: 400px;
    margin: auto;
  }
  
  .timer {
    background-color: #ffffff;
    border: 1px solid #ced4da;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 2em;
  }
  
  .buttons {
    margin-top: 20px;
    
  }

  .btn-primary{
    margin-right: 20px;
  }

  .btn-dark{
    background-color: #6B7280;
    border-color: #6B7280;
  }

  .btn-success{
    background-color: #22C55E;
    border: #22C55E;
  }


  